.header {
  background-color: #ff6600;
  padding: 2px;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
}

.header-logo {
  width: 18px;
  height: 18px;
  border: 1px solid white;
}

.header-title {
  font-weight: bold;
  color: #000;
  font-size: 11pt;
}
